.ui-widget.ui-widget-content {
  max-width: 550px !important;
}

.ui-menu .ui-menu-item-wrapper {
    width: 100%;
    display: block;
    font-weight: normal !important;
    margin: 0 !important;
    border: 1px solid #969696 !important;
}

.ui-menu .ui-menu-item-wrapper:hover {
    color:#003A70 !important;
}

form .description {
  font-size: 1.6rem;
  margin-left: 0.5rem;
  font-style: normal;
}

#edit-recap .js-webform-states-hidden {
  display: none !important;
}

form .captcha {
  border: none;
  display: inline-flex;
  width: 100%;
  padding-top: 2rem;
}

.progress-step.is-active .progress-marker::before {
  background-color: #f4053d;
}

form .captcha summary {
  display: none;
}

form .captcha .details-wrapper {
  padding: 0;
}

form .captcha .details-wrapper .details-description {
  display: none;
}

.media-library-item--liste_de_chiffres_cle .field__item .field__item {
  margin: 0 0 2rem 0 !important;
  padding: inherit !important;
  width: 100% !important;
}

.webform-progress .progress-step .progress-marker {
  display: contents !important;
}
form.lne-v2 label.form-required:after, form.lne-v2 span.form-required:after {
  background-image: none;
  display: contents;
}

.breadcrumb li:before {
  display: none !important;
}

.breadcrumb li:not(:last-child) {
  padding-right: 2rem !important;
  margin-right: 1rem !important;
}

.sitemap .sitemap-item {
  margin-top: 4rem;
}

.sitemap .sitemap-item li {
  overflow: hidden;
}

.cookiesjsr-layer, .cookiesjsr-banner {
  font-size: 14px;
}

.cookiesjsr-service--action {
  width: inherit;
}

.media-library-item--interactive_content {
    margin: 1rem 0;
}

#cnil {
  display: none !important;
}

.teaser--event {
    height: 100%;
    overflow: visible;
}

.teaser__date.events {
		font-size: 2rem;
}

.teaser__date.events.formation {
		background-color: #305162;
}

.teaser__date.events.formation::after {
	border-right-color:#305162;
}

.teaser__title.events {
		font-size: 1.7rem;
		padding-top: 2rem;
}

.teaser__subtitle {
	color: #969696;
	text-align: right;
	padding-right: 1rem;
	padding-top: 1rem;
	text-transform: uppercase;
}


.liste__content_event {
    margin-bottom: 40px;
}
.liste__content_event .row {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
}

.liste__content_event .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.nomoresessions-message {
    font-weight: bold;
    border-bottom: 0px;
}

/* Traitement Partie formation*/

.medal__content.no-padding {
  line-height: initial;
  padding: 0;
  text-align: center;
}

.medal__icon_datadock  {
  width:54px;
}

.medal__content.no-padding .medal__icon_gmed  {
  display: initial;
  max-height: 99%;
}

.filters__content .formation
hr{
   width : 4px;
   height: 70px;
   background-color: #5a82ae;
   margin-top: 0px;
   margin-bottom: 0px;
}

.filters__title_right {
  position: relative;
  min-height: 1px;
  padding-top: 8px;
  font-size: 1.4rem;
  line-height: 1.1;
  font-weight: 400;
  text-transform: uppercase;
}

.pull-right {
  display:table;
  caption-side: bottom;
}

.pull-right .imagelegende_container--content-text{
  display:table-caption;
}

.form__submit.webform-button--submit {
    margin-top: 0px;
}

ul.bs-autocomplete-menu {
  max-height: 600px;
}

.offre__place::before {
    font-family: "Glyphicons Halflings";
    content: "\e062";
    font-weight: normal;
		color: black;
 }

 .offre__duration::before {
    font-family: "Glyphicons Halflings";
    content: "\e023";
    font-weight: normal;
		color: black;
 }

 .offre__type__tag {
    font-family: Century Gothic,CenturyGothic,AppleGothic,Arial,sans-serif;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px!important;
 }

@media screen and (min-width: 600px){
  .formation .filters__content .row {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .formation .filters__content .row > * {
    -webkit-flex: 1;
    flex: 1;
  }

  .formation .filters__title {
    float: left;
    width: 12%;
  }

   .formation .divider {
    width: 4%;
  }


}

.filter_text {
	padding-left: 15px;
}


@media (min-width: 768px) {
	.filter_text {
		float: left;
		width: 83.33333333%;
		padding-left: 16.66666667%;
	}
}

@media screen and (min-width: 992px){
  .formation.row .col-md-4{
    width: 37%;
  }


  .formation.row .col-md-6 {
    width: 47%;
  }
}

/* Formulaires */
.form-type-checkbox .description {
  float:left;
  width: inherit;
  margin-left: 0;
  font-size: 1.5rem;
}
.lne-v2 .form-type-checkbox .description {
  font-size: 1.6rem;
}

.webform-submission-formulaire-de-paiement-form .form-type-checkbox .description {
  width: 92%;
}

.margin-top-15 {
  margin-top:-15px;
}

.access .main-menu__ul>li {
		margin-bottom: 20px;
}

@media screen and (max-width: 1200px){
  .filters__content .formation .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .filters__content .formation
    hr{
   width : 100%;
   height: 4px;
   margin-top: 0px;
   margin-bottom: 10px;

  }
}
.main-menu__ul>li.access>ul>li>a {
  font-size: 2.1rem !important;
  text-transform: none;
}
.main-menu__ul>li.access:last-child>ul>li>a {
  font-size: 1.6rem !important;
}
.force_title::after, .main-menu__ul>li.access>ul>li>a:after {
	background-color: #ad3c0b !important;
}

.main-menu__ul>li:nth-child(3) {
  width: 100% !important;
}
@media screen and (min-width: 768px) {
  .main-menu__ul>li:nth-child(3) {
    width: 19.16666667% !important;
  }
}

/* utilisé dans les fiches de formation*/
.accordeon .panel {
	margin-bottom:  0px;
}

.accordeon .panel-default {
	border-bottom: none;
	padding-bottom: 0px;
}

.accordeon .panel-default .panel-body {
	padding-top: 2rem;
}

.formation__date {
	padding-top: 20px;
	font-size: 0.9em;
}



@media (max-width: 1200px) {
   .filters__content  .formation .col-md-1{
      width: 100%;
      float:left;
  }
  .filters__content  .formation .col-md-5{
      width: 100%;
      float:left;
  }
}

/* SELECT MOBILE SEARCH FRONT */
@media screen and (max-width: 767px) {
    .nl-form select {
        display: inline-block !important;
        background: url(/themes/custom/lne/images/icon-arrow-d-down.svg) transparent no-repeat right center;
        background-size: 17px auto;
        border-radius: 0;
        font-style: italic;
        padding-right: 20px;
        outline: none;
        width: 100%;
    }
    .nl-form .nl-field {
        display: none !important;
    }

		.access .main-menu__ul>li {
			margin-bottom: 0px;
		}

		.access .main-menu__ul>li ul li a{
			margin-bottom: 0px !important;
		}
}


/* Sidenav */
@media (min-width: 992px) {
		.article-toc {
        width: 225px;
    }

		.edito .wrapper-title__main-title {
			font-size: 4rem;
		}

		.force_title {
			font-size: 2.1rem !important;
			text-transform: none;
		}

}

@media (min-width: 1200px) {
    .article-toc {
        width: 262px;
    }
}

/* =============== OFFRES EMPLOIS =================== */

.teaser--offre {
  height: auto;
  margin-bottom: 3.5rem;
  padding: 0 9rem 1rem 2rem;
  border: 1px solid;
  font-family: Glegoo,Georgia,Times New Roman,Times,serif; }

.teaser__offre__specs { display: flex; }

.teaser__title-wrapper, .teaser__offre__specs > div {
  border-bottom: none !important; }

.teaser__offre__specs > div { width: auto; }

.teaser__offre__type { padding-left: 0; }

.teaser__offre__type span { margin-right: 4px; }

.teaser__offre__specs > div:not(:last-child) {
  margin-right: 25px;
}

.teaser__offre__tag, .offre__type__tag {
  padding: 6px 10px;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.teaser--offre .teaser__more {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  top: 50%;
  right: 24px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.teaser--offre:hover .teaser__more { transform: translateX(10px); }

.teaser--offre:hover .teaser__title-wrapper { text-decoration: underline; }

.teaser--offre .teaser__more span {
  width: 0;
  height: 0;
  overflow: hidden;
  text-indent: -3000px;
  display: block;
}

/* Stage + Alternance #947201 */
.offre-type--128,
.offre-type--200 { border-color: #947201; }

.offre-type--128 .teaser__offre__tag, .offre-type--128 .offre__type__tag,
.offre-type--200 .teaser__offre__tag, .offre-type--200 .offre__type__tag,
.offre-type--128 .teaser__more,
.offre-type--200 .teaser__more { background-color: #947201; }

.offre-type--128 .teaser__title-wrapper,
.offre-type--200 .teaser__title-wrapper { color: #947201; }

/* These + Post-doctorat #544179 */
.offre-type--146,
.offre-type--201 { border-color: #544179; }

.offre-type--146 .teaser__offre__tag, .offre-type--146 .offre__type__tag,
.offre-type--201 .teaser__offre__tag, .offre-type--201 .offre__type__tag,
.offre-type--146 .teaser__more,
.offre-type--201 .teaser__more { background-color: #544179; }

.offre-type--146 .teaser__title-wrapper,
.offre-type--201 .teaser__title-wrapper { color: #544179; }

/* Offre emploi + 0ffre de mission #236897 */
.offre-type--199,
.offre-type--202 { border-color: #236897; }

.offre-type--199 .teaser__offre__tag, .offre-type--199 .offre__type__tag,
.offre-type--202 .teaser__offre__tag, .offre-type--202 .offre__type__tag,
.offre-type--199 .teaser__more,
.offre-type--202 .teaser__more { background-color: #236897; }

.offre-type--199 .teaser__title-wrapper,
.offre-type--202 .teaser__title-wrapper { color: #236897; }

@media screen and (min-width: 992px) {

  .teaser--offre { padding: 0 19rem 1rem 3.5rem; }

  .teaser--offre .teaser__more {
    right: 78px;
    width: 48px;
    height: 48px;
    margin-top: -24px;
  }

  .teaser--offre:hover .teaser__more { transform: translateX(20px); }
}

/* ================== LNE commerce ================== */
.back-product-all a, .commerce-back-link {
  font-family: 'Century Gothic Bold';
  display: flex;
  align-items: center;
  color: #f4053d;
  transition: color .2s ease-in;
  padding: 0;
  width: fit-content;
}

.back-product-all a {
  padding: 3rem 0;
}

.back-product-all a:hover, .commerce-back-link:hover {
  color: #000;
}

.back-product-all a::before, .commerce-back-link::before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23f4053d" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" /></svg>');
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 5px;
}

.product-background {
  background: #FAFAFA;
}

.container-product {
  font-family: 'Century Gothic Bold';
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .container-product {
    flex-direction: row;
  }
}

.container-product-left {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .container-product-left {
    width: 42%;
    margin-right: 5rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .container-product-right {
    width: 58%;
  }
}

.field--name-field-images-produit {
  width: 100%;
}

.field--name-field-images-produit img {
  max-width: 100%;
  height: auto;
}

.field--name-field-images-produit .slick-arrow {
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,0.4) url(/themes/custom/lne/images/icon-arrow-service.svg) no-repeat 50% 50%;
    background-size: 100% auto;
    position: absolute;
    top: 42%;
    right: 1rem;
    border: 0;
    z-index: 1;
    text-indent: 1000%;
    border-radius: 100%;
    overflow: hidden;
    transition: all .2s ease-in;
}
.field--name-field-images-produit .slick-prev {
    transform: rotate(180deg);
    left: 1rem;
}
.field--name-field-images-produit:hover .slick-arrow {
    background: rgba(255,255,255,0.8) url(/themes/custom/lne/images/icon-arrow-service.svg) no-repeat 50% 50%;
}

.field--name-field-images-produit .slick-arrow:hover {
    background: #fff url(/themes/custom/lne/images/icon-arrow-service.svg) no-repeat 50% 50%;
}

.field--name-field-images-produit .slick-dots{order:2;margin:1rem 0;padding:0;text-align:center;display:block;position:relative;z-index:1;}
.field--name-field-images-produit .slick-dots li{display:inline-block;margin:0 2px;list-style:none}
.field--name-field-images-produit .slick-dots li:before{display:none}
.field--name-field-images-produit .slick-dots li button{border:0;background:#236897;color:#236897;width:10px;height:10px;padding:0;border-radius:5px;opacity:.6;overflow:hidden}
.field--name-field-images-produit .slick-dots li.slick-active button{opacity:1}

.container-product-right h1 {
  font-family: 'Glegoo';
  margin-top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #003A70;
}

.product-chapo {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 1.5rem;
  color: #000000;
}

.product-configuration-label {
  font-size: 18px;
  line-height: 25px;
  margin: 0.5rem 0;
  color: #000000;
}

.field--name-field-lvraison, .field--name-field-conditionnement {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.field--name-field-lvraison::before, .field--name-field-conditionnement::before {
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 5px;
}

.field--name-field-conditionnement::before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="%23003A70"><path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z" /><path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd" /></svg>');
}

.field--name-field-lvraison::before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="%23003A70"><path d="M8 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM15 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" /><path d="M3 4a1 1 0 00-1 1v10a1 1 0 001 1h1.05a2.5 2.5 0 014.9 0H10a1 1 0 001-1V5a1 1 0 00-1-1H3zM14 7a1 1 0 00-1 1v6.05A2.5 2.5 0 0115.95 16H17a1 1 0 001-1v-5a1 1 0 00-.293-.707l-2-2A1 1 0 0015 7h-1z" /></svg>');
}

.product-description {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* ================== COMMERCE PRODUCTS LIST ================== */
.products-list {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.products-list ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-list ul li {
  width: 100%;
  background: #FAFAFA;
  border: 1px solid #C1C2C8;
  margin: 0 2rem 4rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .products-list ul li {
    width: 27%;
  }
}
@media screen and (min-width: 992px) {
  .products-list ul li {
    width: 29%;
  }
}
@media screen and (min-width: 1200px) {
  .products-list ul li {
    width: 29.5%;
  }
}

.products-list img {
  width: 100%;
  height: auto;
}

.products-list h3 {
  margin: 1rem;
}

.products-list .views-field-title a {
  font-family: 'Glegoo';
  font-weight: 700;
  font-size: 20px;
  color: #003A70;
}

.products-list .views-field-field-min-price {
  font-family: 'Century Gothic Bold';
  margin: 0 1rem;
  color: #003A70;
}

.products-list .views-field-field-promotion-catalogue {
  font-family: 'Century Gothic Bold';
  margin: 0 1rem 2rem 1rem;
  color: #f4053d;
}

.products-list .views-field-view-commerce-product {
    display: block;
    margin: auto 1rem 0 auto;
}

.products-list .views-field-view-commerce-product a,
.checkout-pane a.btn-info {
    background-color: #fff;
    color: #f4053d;
    border: 1px solid #f4053d;
    padding: 9px 20px;
    font-size: 1.6rem;
    line-height: 1.625;
    margin-left: auto;
    transition: all .2s ease-in;
    outline: inherit;
    font-family: 'Century Gothic Bold';
}

.products-list .views-field-view-commerce-product a:hover,
.checkout-pane a.btn-info:hover {
    background-color: #f4053d;
    color: #fff;
}

.field--name-field-assurance .field__label {
  display: none;
}
.field--name-field-assurance .field__items {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10rem;
}
@media screen and (min-width: 768px) {
  .field--name-field-assurance .field__items {
    flex-direction: row;
  }
}
.field--name-field-assurance .field__items > .field__item {
  border-bottom: 1px solid #000;
  width: 100%;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .field--name-field-assurance .field__items > .field__item {
    border-right: 1px solid #000;
    border-bottom: 0;
    width: 33%;
  }
}
.field--name-field-assurance .field__items > .field__item:last-child {
  border: 0;
}
.field--name-field-assurance .field--name-field-icone-assurance {
  height: 60px;
}
.field--name-field-assurance .field--name-field-titre-assurance {
  font-family: 'Century Gothic Bold';
  margin: 1rem;
}
@media screen and (min-width: 1200px) {
  .field--name-field-assurance .field--name-field-titre-assurance {
    margin: 1rem 13rem;
  }
}

/* ================== COMMERCE PRODUCT BANNER ================== */
#block-productsbanner {
  margin-top: -15px;
  position: relative;
  color: #FFF;
  margin-bottom: 2rem;
}

#block-productsbanner legend {
  display: none;
}

#block-productsbanner .form-wrapper {
  padding: 2rem;
  margin: 0;
  border: 0;
  position: absolute;
  left: 0;
  top: 15px;
  width: 100%;
  background: linear-gradient(to bottom,rgba(29,13,12,.7) 0,rgba(29,13,12,.7) 100%);
}

@media screen and (min-width: 768px) {
  #block-productsbanner .form-wrapper {
    width: 75%;
    top: 20%;
  }
}
@media screen and (min-width: 992px) {
  #block-productsbanner .form-wrapper {
    width: 55%;
  }
}
@media screen and (min-width: 1200px) {
  #block-productsbanner .form-wrapper {
    width: 45%;
  }
}

#block-productsbanner .field--name-field-banner-title {
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 2rem;
    font-family: 'Century Gothic Bold';
}

#block-productsbanner .field--name-field-banner-title::after {
    content: "";
    width: 34px;
    height: 7px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
}

#block-productsbanner .field--name-field-banner-chapeau {
    font-family: 'Century Gothic';
}


/* ================== Menu footer redesign 2022 ================== */

.footer-menu-up--wrapper {
  display: block;
}

.sitemap-items--wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

[class^='footer-logo--'] { padding: 0 1em 4em 1em; }

.wrapper-sitemap {
  background-color: #34363c;
  box-shadow:none;
  padding-top: 4em;
  text-align: center; }


.sitemap-item__ul,
.sitemap-item__li { display: block; }

.sitemap-item__li:after { content:none; }

.sitemap-item__title,
.sitemap-item__li a {
  color: #ffffff;
  font-size: 14px;
}

.sitemap-item--rs {
  display: flex;
  width: 220px;
  margin: 0 auto;
  padding: 0;
}

.sitemap-item--rs .sitemap-item__content {
  width: 220px;
  margin: 0 auto;
}

.sitemap-item--rs .sitemap-item__content .sitemap-item__ul {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sitemap-item--rs .sitemap-item__title { display: none; }

.sitemap-item--rs .sitemap-item__li {
  float: none;
  margin-right: 1.75em;
}

.sitemap-item--rs .sitemap-item__li:nth-child(3n+1) {
  margin-right: 0;
}

.sitemap-item--rs .sitemap-item__li:first-child {
  flex: 1 0 100%;
}

.contact-link--wrapper {
  display: flex;
  justify-content: center;
 }

.contact-link--wrapper a {
  display: block;
  width: 220px!important;
  height: 80px!important;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  transform: none!important;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.contact-link--wrapper a:hover {
  color: #ffffff;
  opacity: 0.8; }

.sitemap-item--rs .sitemap-item__li .sitemap-item__contact span {
  position: relative;
  text-transform: uppercase;
  margin-left: 14px;
  font-weight: bold;
}

.sitemap-item--rs .sitemap-item__li .sitemap-item__contact span:before {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Cpath fill='%23fff' d='M19.25 17.5c-1.75 1.75-1.75 3.5-3.5 3.5s-3.5-1.75-5.25-3.5-3.5-3.5-3.5-5.25 1.75-1.75 3.5-3.5-3.5-7-5.25-7-5.25 5.25-5.25 5.25c0 3.5 3.596 10.596 7 14s10.5 7 14 7c0 0 5.25-3.5 5.25-5.25s-5.25-7-7-5.25z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  left: -40px;
  top: 50%;
  margin-top: -16px;
}

.sitemap-item__li a { font-weight: 500; }
.sitemap-item__title:after { background-color: #ffffff; }

.footer-links--wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  flex-direction: column-reverse;
}

.footer-copyright { padding: 1em 0; }

.footer-links--wrapper li:not(:last-child) {
  margin-right: 1em; }

.footer-links li:after { content: none; }

.footer-copyright, .footer-links li a {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 768px) {

  .sitemap-items--wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .sitemap-item--rs {
    margin: 0;
  }

  .sitemap-item--rs .sitemap-item__content .sitemap-item__ul {
    justify-content: right;
  }

}


@media screen and (min-width: 992px) {

  .wrapper-sitemap { text-align: unset; }

  .contact-link--wrapper { justify-content: start; }

  .wrapper-sitemap .container .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .sitemap-items--wrapper {
  display: flex;
  justify-content: space-between;
}

.sitemap-item__li { text-align: left; }

.footer-links--wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer-links--wrapper li:not(:last-child) {
  margin-right: 2.75em; }

  .footer-copyright { text-align: left; }

}

.offre-detail__dates .bs-caret {
  rotate: 90deg;
}